<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">聯繫我們Connect with me
</h2>
                <h3 class="section-subheading text-muted">R​ight.樂團.( Line ID: @141xjyyg)</h3>
                <h4>桃園中壢地區可提供簽約面談服務，需提前預約</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="footer__inner">
      
        <div class="social">
          <ul class="social__list list-reset">
            
              <li class="social__item">
                <a class="social__link" href="https://facebook.com" target="_blank" rel="noopener" aria-label="Facebook link"><i class="fa-brands fa-facebook"></i>Facebook</a>
              </li>
            
              <li class="social__item">
                <a class="social__link" href="https://twitter.com" target="_blank" rel="noopener" aria-label="Twitter link"><i class="fa-brands fa-x-twitter"></i>Youtube</a>
              </li>
            
       
             <li class="social__item">
               <a class="social__link" href="https://lin.ee/tIo6GX8" target="_blank" rel="noopener" aria-label="Github link"><i class="fa-brands fa-github"></i>Line</a>
            </li>
            
              <li class="social__item">
              <a class="social__link" href="https://instagram.com" target="_blank" rel="noopener" aria-label="Instagram link"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
            
              <li class="social__item">
                <a class="social__link" href="https://github.com" target="_blank" rel="noopener" aria-label="Github link"><i class="fa-brands fa-github"></i>Github</a>
              </li>
            
          </ul>
        </div>
      
    </div>
           

Line 連結 | https://lin.ee/tIo6GX8

rightbandmusic@gmail.com

0972-730-557





相關連結

Instagram Outline Logo
Simple Youtube Icon
Black Flat Facebook Logo Social Media Icon
婚禮樂團•婚禮歌手•婚禮演奏•尾牙歌手•尾牙樂團•婚禮表演•春酒表演

                   </div>
                    </div>
          
            </div>
        </div>
    </div>
</section>

