<style>
.question {
    ...
}
.question-text {
    ...
}
.plus-icon {
    ...
}
.minus-icon {
    ...
}
.question-text {
  display: none;
}
.minus-icon {
  display: none;
}
/* 顯示回答區域*/
.show-text .question-text {
  display: block;
}
/* 顯示關閉按鈕*/
.show-text .minus-icon {
  display: inline;
}
/* 隱藏開啟按鈕*/
.show-text .plus-icon {
  display: none;
} 
</style>
<script language="javascript">
const questions = document.querySelectorAll('.question');  
questions.forEach(function(question){ //選擇每個QA方格

    const btn = question.querySelector('.question-btn'); //篩選出該QA方格的按鈕元素

    btn.addEventListener('click',function(){ //只要該QA方格的按鈕元素有點擊事件

        question.classList.toggle("show-text"); //就在<article class="question">新增/刪除"show-text"的Class
    });
});
questions.forEach(function(item){ //選擇每個QA方格

    if(item !== question){ //只要不是被選擇的article

        item.classList.remove("show-text"); //就將"show-text"的Class移除

    };
});
</script>
<section class="questions">

    <!-- 標題 -->
    <div class="title">
        <h2>general questions</h2>
    </div>

    <!-- Q&A -->
    <div class="section-center">
      <div class="faq">
        <!-- 單一QA -->
    <article class="question">

        <!-- 問題區域 -->
        <div class="question-title">
            <p>Question.....</p>
            <!-- 按鈕 -->
            <button type="button" class="question-btn">
                <!-- 開啟按鈕 -->
                <span class="plus-icon">
                    <i class="far fa-plus-square"></i>
                <!-- 關閉按鈕 -->
                </span>
                <span class="minus-icon">
                    <i class="far fa-minus-square"></i>
                </span>
            </button>
        </div>

        <!-- 回答區域 -->
        <div class="question-text">
            <p>
              Answer...
            </p>
        </div>

    </article>
<!-- 單一QA end -->
       
        
      </div>
    </div>
</section>